<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="ie-stand">
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<title>批量查询</title>
<link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}" media="all">
<link rel="stylesheet" th:href="@{/static/css/set2.css}" type="text/css" media="all" />
<link rel="stylesheet" th:href="@{/static/css/bootstrap.css}" media="all" />
<link rel="stylesheet" th:href="@{/static/font-awesome/css/font-awesome.min.css}" media="all">
<link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all" />
<script type="text/javascript" th:src="@{/static/js/jquery-2.1.1.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/static/laydate/laydate.js}"></script>
<script th:src="@{/static/js/bootstrap-table.js}"></script>
<script th:src="@{/static/js/bootstrap-table-zh-CN.js}"></script>
<script th:src="@{/static/js/bootstrap-paginator.js}"></script>
<script th:src="@{/static/js/jquery.jeditable.js}"></script>
<script th:src="@{/static/js/jquery.form.js}"></script>
<style>

#top{
	margin-top:1%;
	width:99%;
}
#TtableCss{
	width:99%;
	margin:0 auto;
}
#mask{
       position: absolute;
       top: 0px;
       background-color: #000;
       z-index: 1002;
       left: 0px;
       opacity: 0.5;
       display:none;
}
#loading{
       position: absolute;
       top: 0;
       left: 0;
       right: 0;
       bottom: 0;
       margin: auto;
       width:40%;
}
</style>
</head>
<body>
<div id="mask" class="mask"><img id="loading" th:src="@{/static/img/timg.gif}" ></div>
	<div id="top">
		<form id="importForm" action="" enctype="multipart/form-data" method="post"	>
		<input id="filein" name="filein" type="file" style="display:none">&nbsp;&nbsp;&nbsp;
		<input id="photoCover" class="input-large" type="text" style="height:30px;">
		<a class="btn" onclick="$('input[id=filein]').click();">选择</a>
		<button type="button" class="btn btn-info" id="check" onclick="checksPath();">查询</button>
		<button type="reset" class="btn btn-default">重置</button>
		</form>
	</div>
	<br>
	<div id="TtableCss">
		<table class="table table-striped table-bordered table-hover table-condensed">
			<thead>
				<tr>
					<th id="xh">序号</th>
					<th id="ywh">业务号</th>
					<th id="bdczh">不动产证号</th>
					<th id="qlrmc">权利人</th>
					<th id="zjhm">证件号码</th>
				</tr>
			</thead>
		</table>
	</div>
	<!--显示查询数据div-->
	<table id="main" class="table table-striped table-bordered table-hover">
				
	</table>
	<div class="col-sm-7" style="width:70%";>
		<div class="dataTables_paginate paging_simple_numbers" style="margin-left: 50%;width:70%">
			<ul class="pagination" id="pagediv" name="pagediv">
						
			</ul>
		</div>
	</div>
</body>
<script type="text/javascript">
$('input[id=filein]').change(function() {
	$('#photoCover').val($(this).val());
});
</script>
<script type="text/javascript">
function showMask() {
    $("#mask").css("height", $(document).height());
    $("#mask").css("width", $(document).width());
    $("#mask").show();
}
function hideMask() {
    $("#mask").hide();
} 
function checksPath(){
	var pagesize = 10;//每页显示10条数据
	var xhth=$("#xh").width();
	var ywhth=$("#ywh").width();
	var bdczhth=$("#bdczh").width();
	var qlrmcth=$("#qlrmc").width();
	var zjhmth=$("#zjhm").width();
	var path = $("#photoCover").val();
	if(path == ""){
		alert("请选择文件后查询");
	}else{
		$("#importForm").ajaxSubmit({
			type : "post",
			url : "/admin/system/zhcx/plxxcx",
			//data : "&path=" + path,
			beforeSend: function () {
                showMask();
            },
            complete: function () {
                hideMask();
            },
			success : function(data) {
				var listSize = data.list2.length;
				if(listSize>0){
					var html='';
					var j=0;
					var totalPage = Math.ceil(listSize / pagesize);
					for (var i = 0 ; i <totalPage; i++){	         
				         for (var col = 0 ; col < pagesize ; col++ ){
				          	if (data.list2[i*pagesize+col]) {
				          		html+=
				          			'<tr>'+
				          				'<td style="width:'+xhth+'px;height:auto;">'+(++j)+'</td>'+
				          				'<td style="width:'+ywhth+'px;height:auto;">'+data.list2[(i*pagesize+col)].slbh+'</td>'+
				               			'<td style="width:'+bdczhth+'px;height:auto;">'+data.list2[(i*pagesize+col)].bdczh+'</td>'+
				               			'<td style="width:'+qlrmcth+'px;height:auto;">'+data.list2[(i*pagesize+col)].qlrmc+'</td>'+
				               			'<td style="width:'+zjhmth+'px;height:auto;">'+data.list2[(i*pagesize+col)].zjhm+'</td>'+
				               		'</tr>';
				            }
				          }
				     }
					$("#main").html(html);
					//位置1  对数据进行分页
					pagination(pagesize,1);
					//位置3  绑定点击事件
					bindClick();
				}
			}
		});	
	}
	
}
	function pagination(perPage , current){
		var tableData = document.getElementById("main");
	    var rows = tableData.rows.length; //表格的总行数
	    // 设置表格的总页数
	    /* var totalPage = 0;  *///表格的总页数
	    var pageSize = perPage;
	    if (rows/pageSize > parseInt(rows/pageSize)){
	        totalPage = parseInt(rows/pageSize)+1;
	    }else{
	        totalPage = parseInt(rows/pageSize);
	    }
	    
	    // 对数据进行分页
	    var currentPage = current;
	    var startRow = (currentPage - 1)*pageSize+1;
	    var endRow = (currentPage*pageSize > rows ? rows : currentPage*pageSize);
	    for(var i = 1 ; i < (rows+1) ; i++){
	        var realRow = tableData.rows[i-1];
	        if (i>=startRow && i<=endRow) {
	            realRow.style.display='table-row';
	        }else{
	            realRow.style.display='none';
	        }
	    }
	     //位置2 生成当前的点击按钮
		 createBtns(totalPage , current);		
	}
	function createBtns(totalPage , current){
	    var tempStr = "";
	    if (current > 1) {
	        tempStr += "<li class='paginate_button previous disabled'><span class='first' href=\"#\"  data-page = '1'>首页</span></li>";
	        tempStr += "<li class='paginate_button previous disabled'><span class='prepage' href=\"#\" data-page = "+(current-1)+">上一页</span></li>"
	    
	    }
	    for(var pageIndex= 1 ; pageIndex < totalPage+1; pageIndex++){
	        tempStr += "<li class='paginate_button previous disabled'><a  class='page"+pageIndex+"'  data-page = "+( pageIndex )+"><span>"+ pageIndex +"</span></a></li>";
	     }

	     if (current < totalPage) {
	        tempStr += "<li class='paginate_button previous disabled'><span class='paginate_button nextpage' href=\"#\"  data-page = "+(current+1)+">下一页</span></li>";
	        tempStr += "<li class='paginate_button previous disabled'><span class='paginate_button last' href=\"#\" data-page = "+ (totalPage) +">尾页</span></li>";
	     }
	    document.getElementById("pagediv").innerHTML = tempStr;
	}
	function bindClick(){
	    // 设置首页、末页、上一页、下一页的点击事件
	    var buttonArr = ['.first','.last','.prepage','.nextpage'];
	    for(var k in buttonArr){
	        var $dom = buttonArr[k];	        
	        $('body').delegate( $dom , 'click' , function () {
	           var data = $(this).data('page');//获取当前按钮跳转的页数
	           if(data>=1||data<=totalPage){
	        	   pagination('10' , data);//对页面进行分页
		           //对当前页码的样式做处理
		           $('.page'+data).css({background:'#428bca',color:'#fff'}).siblings().css({background:'#fff',color:'#428bca'}); 
	           }
	        })
	    }
	    // 设置数码的点击事件 totalPage是总页数，为全局变量，在分页时被赋值
	    for (var k  = 1 ;k <= totalPage ; k++){
	        var $singleDom  = '.page'+k;
	        $('body').delegate( $singleDom , 'click' , function () {
	           var data = $(this).data('page');
	           pagination('10' , data);//对页面进行分页
	           //对当前页码的样式做处理
	           $('.page'+data).css({background:'#428bca',color:'#fff'}).siblings().css({background:'#fff',color:'#428bca'});
	        })
	     }
	}
</script>
</html>